<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <META Name="DatamineScript" Content="Version3" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href=@Url.Action("Index", "Home", new { area = "" })>
                    <img alt="Brand" src=@Url.Content("~/Content/Brand.png")>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("PolyusGeo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            Datamine Благодатный
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-tabs">@Html.ActionLink("Объёмы по блокам", "Index", "BlockVolume", new { area = "ScBlockVolumeSole" },null)</li>
                            <li class="nav-tabs">@Html.ActionLink("ОР в БД", "StartPage", "Main", new { area = "Bl_DhSample" }, null)</li>
                            <li class="nav-tabs">@Html.ActionLink("ЗБ в БД", "StartPage", "Bl_Zb_Main", new { area = "Bl_ZbSample" }, null)</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            Datamine Олимпиада
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-tabs">@Html.ActionLink("ЭР в БД", "StartPage", "Ol_ErDhSample_Main_", new { area = "Ol_ErDhSample" }, null)</li>
                        </ul>
                    </li>

                </ul>
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Polyus, Olimpiada</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
